html {
  height: 100%;
   }
   
body {
  margin: 0; /* Убираем отступы на странице */
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
  background: url(backgr.png); /* Цвет фона */
  height: 100%;
}


	.menu a {
		display: inline-block; 
		padding: 20px 20px 0px 10px;
		float:right;
		align: bottom;
		color: #000000; /* Цвет ссылок */
		text-decoration: none;
}


.conteiner {
	position: relative;
	min-height: 100%;
    min-height: calc(100vh - 40px);
    margin: auto;
	width: 980px;
  }

header, section, footer, aside, nav, article {
  display: block; /* Блочный элемент */
}

header{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: larger;
	text-decoration: none;	
}

footer{
	margin: auto;
	width: 980px;
	text-align: center;
	}

.description{

}

li{
	display:block;
}
p{
	text-indent: 25px;
	font-size:16px;
	line-height: 1.5em;
}
dl{
	font-size:16px;
	line-height: 1.5em;
}


.sign {
	
    float: center; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
    
   }
   figcaption{
    margin: 5 auto 5px; /* Отступы вокруг абзаца */
	text-align: center;
   }
   figure.sign  {
	   height: 290px;
	   
   }
   font{
	   color: #000000;
   }
   a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
   h2 p {
    text-align: center;
}